.book-details {
  max-width: 300px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 30px auto;
  height: 400px;
}
.book-details-row {
  margin-top: 10px;
}
.details-footer {
  margin-top: 50%;
}
.details-footer button {
  margin-left: 10px;
}
